html {
  height: 100%;  
}

body {
  background: linear-gradient(#807e79, #0a2a5a);
}
 h2 .text-center mb-4 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.card-title {
  margin-bottom: 10px;
}

.btn {
  margin-top: 10px;
}


.game-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #fff;
  color: #333;
  font-weight: bold;
}

table td {
  background-color: #fff;
  color: #555;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f2f2f2;
}

table th,
table td {
  border: 1px solid #ccc;
}
